<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="radioradio.lib"
  version="1.0.0">

  <name>Library RadioRadio</name>
  <description></description>

  <author>Sergay Osipov Bugsmafia</author>
  <license>Apache 2.0</license>
  <keywords></keywords>
  <repo>https://github.com/bugsmafia/RadioRadioLib.git</repo>

  <platform name="android">
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-feature android:name="android.hardware.telephony" android:required="false" />
    </config-file>
	<js-module src="www/RadioRadioLid.js" name="radioradiolib.android">
		<merges target="radioradio.library" />
	</js-module>
  </platform>
</plugin>
